In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
data = pd.read_csv("DataSet/Train.csv")

c:\users\chira\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [4]:
target = data.Col2

In [5]:
DataDimension = 2395

In [6]:
DataTenCol = data.iloc[:,1:DataDimension+1]

In [7]:
colunsToBeDropped = []
for i, item in enumerate(DataTenCol.dtypes):
    if item.type not in [np.int64,np.float64]:
        colunsToBeDropped.append("Col"+str(i+2))
#         print(i+2)
#         print(item.type)

In [8]:
colunsToBeDropped

['Col747', 'Col836']

In [9]:
# len(DataTenCol.Col836.isnull().values)

In [10]:
DataTenCol = DataTenCol.drop(colunsToBeDropped, axis=1)

In [11]:
DataTenCol.head()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [12]:
input_dim = DataTenCol.shape[1]-1

In [13]:
DataTenCol.head()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [14]:
DataTenCol.describe(include='all')

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [15]:
important_features = ['Col177',
 'Col877',
 'Col636',
 'Col875',
 'Col874',
 'Col933',
 'Col37',
 'Col18',
 'Col876',
 'Col106',
 'Col914',
 'Col13',
 'Col725',
 'Col614',
 'Col243',
 'Col586',
 'Col175',
 'Col166',
 'Col802',
 'Col322',
 'Col681',
 'Col202',
 'Col179',
 'Col246',
 'Col873',
 'Col912',
 'Col173',
 'Col603',
 'Col519',
 'Col186',
 'Col915',
 'Col10',
 'Col25',
 'Col162',
 'Col608',
 'Col390',
 'Col28',
 'Col889',
 'Col652',
 'Col579',
 'Col3',
 'Col174',
 'Col715',
 'Col881',
 'Col454',
 'Col26',
 'Col93',
 'Col814',
 'Col497',
 'Col12',
 'Col43',
 'Col23',
 'Col92',
 'Col932',
 'Col910',
 'Col703',
 'Col669',
 'Col885',
 'Col647',
 'Col22',
 'Col872',
 'Col444',
 'Col163',
 'Col160',
 'Col161',
 'Col24',
 'Col9',
 'Col900',
 'Col898',
 'Col172',
 'Col210',
 'Col680',
 'Col878',
 'Col621',
 'Col107',
 'Col795',
 'Col443',
 'Col300',
 'Col67',
 'Col891',
 'Col393',
 'Col846',
 'Col706',
 'Col700',
 'Col27',
 'Col213',
 'Col212',
 'Col727',
 'Col633',
 'Col193',
 'Col126',
 'Col762',
 'Col864',
 'Col713',
 'Col679',
 'Col666',
 'Col582',
 'Col589',
 'Col683',
 'Col592',
 'Col575',
 'Col270',
 'Col257',
 'Col21',
 'Col167',
 'Col196',
 'Col247',
 'Col605',
 'Col880',
 'Col255',
 'Col228',
 'Col180',
 'Col138',
 'Col907',
 'Col170',
 'Col759',
 'Col383',
 'Col291',
 'Col870',
 'Col862',
 'Col412',
 'Col182',
 'Col367',
 'Col691',
 'Col755',
 'Col604',
 'Col595',
 'Col931',
 'Col440',
 'Col886',
 'Col741',
 'Col42',
 'Col11',
 'Col221',
 'Col678',
 'Col598',
 'Col407',
 'Col379',
 'Col17',
 'Col240',
 'Col624',
 'Col467',
 'Col425',
 'Col693',
 'Col909',
 'Col804',
 'Col627',
 'Col437',
 'Col286',
 'Col277',
 'Col884',
 'Col863',
 'Col279',
 'Col164',
 'Col780',
 'Col51',
 'Col601',
 'Col474',
 'Col176',
 'Col629',
 'Col626',
 'Col377',
 'Col231',
 'Col486',
 'Col477',
 'Col256',
 'Col178',
 'Col399',
 'Col15',
 'Col269',
 'Col386',
 'Col709',
 'Col422',
 'Col516',
 'Col7',
 'Col576',
 'Col512',
 'Col782',
 'Col871',
 'Col794',
 'Col913',
 'Col722',
 'Col346',
 'Col169',
 'Col189',
 'Col144',
 'Col19',
 'Col248',
 'Col911',
 'Col772',
 'Col716',
 'Col502',
 'Col428',
 'Col40',
 'Col205',
 'Col698',
 'Col600',
 'Col319',
 'Col905',
 'Col694',
 'Col882',
 'Col865',
 'Col861',
 'Col707',
 'Col692',
 'Col687',
 'Col541',
 'Col452',
 'Col442',
 'Col418',
 'Col14',
 'Col2392',
 'Col751',
 'Col564',
 'Col538',
 'Col792',
 'Col811',
 'Col773',
 'Col638',
 'Col848',
 'Col830',
 'Col757',
 'Col686',
 'Col615',
 'Col289',
 'Col267',
 'Col649',
 'Col16',
 'Col233',
 'Col241',
 'Col577',
 'Col684',
 'Col8',
 'Col895',
 'Col917',
 'Col464',
 'Col168',
 'Col362',
 'Col364',
 'Col409',
 'Col455',
 'Col483',
 'Col664',
 'Col708',
 'Col816',
 'Col892',
 'Col6',
 'Col305',
 'Col476',
 'Col334',
 'Col704',
 'Col904',
 'Col789',
 'Col261',
 'Col1233',
 'Col215',
 'Col187',
 'Col602',
 'Col714',
 'Col729',
 'Col783',
 'Col775',
 'Col677',
 'Col441',
 'Col1272',
 'Col148',
 'Col225',
 'Col264',
 'Col466',
 'Col514',
 'Col719',
 'Col769',
 'Col809',
 'Col142',
 'Col198',
 'Col244',
 'Col273',
 'Col280',
 'Col341',
 'Col4',
 'Col696',
 'Col771',
 'Col897',
 'Col901',
 'Col750',
 'Col211',
 'Col431',
 'Col613',
 'Col718',
 'Col1910',
 'Col788',
 'Col893',
 'Col926',
 'Col808',
 'Col416',
 'Col258',
 'Col330',
 'Col355',
 'Col376',
 'Col406',
 'Col433',
 'Col488',
 'Col617',
 'Col618',
 'Col574',
 'Col224',
 'Col234',
 'Col245',
 'Col282',
 'Col339',
 'Col402',
 'Col75',
 'Col588',
 'Col682',
 'Col720',
 'Col736',
 'Col936',
 'Col552',
 'Col1120',
 'Col181',
 'Col188',
 'Col435',
 'Col612',
 'Col774',
 'Col860',
 'Col906',
 'Col701',
 'Col195',
 'Col786',
 'Col209',
 'Col317',
 'Col417',
 'Col705',
 'Col793',
 'Col825',
 'Col844',
 'Col851',
 'Col447',
 'Col120',
 'Col150',
 'Col155',
 'Col218',
 'Col331',
 'Col888',
 'Col756',
 'Col770',
 'Col805',
 'Col849',
 'Col896',
 'Col220',
 'Col360',
 'Col480',
 'Col194',
 'Col156',
 'Col453',
 'Col139',
 'Col572',
 'Col587',
 'Col606',
 'Col781',
 'Col894',
 'Col580',
 'Col459',
 'Col192',
 'Col20',
 'Col207',
 'Col222',
 'Col283',
 'Col378',
 'Col430',
 'Col5',
 'Col563',
 'Col625',
 'Col839',
 'Col87',
 'Col921',
 'Col232',
 'Col1008',
 'Col1028',
 'Col1318',
 'Col157',
 'Col1666',
 'Col1896',
 'Col1900',
 'Col219',
 'Col847',
 'Col284',
 'Col801',
 'Col461',
 'Col922',
 'Col977',
 'Col640',
 'Col607',
 'Col527',
 'Col325',
 'Col125',
 'Col141',
 'Col1764',
 'Col2002',
 'Col236',
 'Col2395',
 'Col251',
 'Col306',
 'Col699',
 'Col332',
 'Col351',
 'Col548',
 'Col569',
 'Col591',
 'Col655',
 'Col662',
 'Col338',
 'Col56',
 'Col1276',
 'Col1804',
 'Col206',
 'Col272',
 'Col287',
 'Col371',
 'Col384',
 'Col776',
 'Col619',
 'Col787',
 'Col796',
 'Col807',
 'Col818',
 'Col868',
 'Col883',
 'Col590',
 'Col1258',
 'Col158',
 'Col1121',
 'Col302',
 'Col408',
 'Col479',
 'Col165',
 'Col744',
 'Col80',
 'Col819',
 'Col879',
 'Col902',
 'Col797',
 'Col395',
 'Col1046',
 'Col1078',
 'Col1257',
 'Col146',
 'Col208',
 'Col250',
 'Col281',
 'Col35',
 'Col310',
 'Col419',
 'Col469',
 'Col567',
 'Col763',
 'Col779',
 'Col803',
 'Col834',
 'Col840',
 'Col41',
 'Col50',
 'Col481',
 'Col471',
 'Col448',
 'Col124',
 'Col385',
 'Col1750',
 'Col1277',
 'Col55',
 'Col543',
 'Col1987',
 'Col559',
 'Col632',
 'Col689',
 'Col765',
 'Col767',
 'Col810',
 'Col571',
 'Col855',
 'Col890',
 'Col97',
 'Col1836',
 'Col1959',
 'Col1945',
 'Col1920',
 'Col1848',
 'Col1118',
 'Col152',
 'Col1296',
 'Col1274',
 'Col214',
 'Col1091',
 'Col2076',
 'Col1988',
 'Col268',
 'Col799',
 'Col278',
 'Col91',
 'Col856',
 'Col823',
 'Col845',
 'Col790',
 'Col436',
 'Col370',
 'Col326',
 'Col312',
 'Col2396',
 'Col458',
 'Col392',
 'Col391',
 'Col372',
 'Col323',
 'Col294',
 'Col1123',
 'Col1971',
 'Col1853',
 'Col1009',
 'Col1778',
 'Col1165',
 'Col1036',
 'Col523',
 'Col520',
 'Col697',
 'Col524',
 'Col676',
 'Col537',
 'Col887',
 'Col820',
 'Col798',
 'Col69',
 'Col726',
 'Col65',
 'Col645',
 'Col634',
 'Col581',
 'Col557',
 'Col550',
 'Col1689',
 'Col404',
 'Col260',
 'Col2006',
 'Col1870',
 'Col1808',
 'Col100',
 'Col1687',
 'Col149',
 'Col122',
 'Col1186',
 'Col1160',
 'Col445',
 'Col405',
 'Col203',
 'Col487',
 'Col746',
 'Col522',
 'Col983',
 'Col916',
 'Col90',
 'Col812',
 'Col959',
 'Col690',
 'Col599',
 'Col568',
 'Col553',
 'Col540',
 'Col151',
 'Col34',
 'Col315',
 'Col304',
 'Col271',
 'Col2304',
 'Col2048',
 'Col2034',
 'Col200',
 'Col1867',
 'Col105',
 'Col147',
 'Col134',
 'Col1234',
 'Col1167',
 'Col1137',
 'Col1099',
 'Col103',
 'Col1024',
 'Col1000',
 'Col368',
 'Col361',
 'Col2004',
 'Col397',
 'Col674',
 'Col94',
 'Col899',
 'Col854',
 'Col827',
 'Col785',
 'Col784',
 'Col777',
 'Col731',
 'Col723',
 'Col928',
 'Col672',
 'Col532',
 'Col637',
 'Col490',
 'Col517',
 'Col470',
 'Col59',
 'Col609',
 'Col438',
 'Col276',
 'Col1667',
 'Col237',
 'Col2298',
 'Col2214',
 'Col2166',
 'Col2106',
 'Col1872',
 'Col1781',
 'Col119',
 'Col1589',
 'Col1329',
 'Col1275',
 'Col1241',
 'Col1166',
 'Col1149',
 'Col114',
 'Col1079',
 'Col400',
 'Col293',
 'Col345',
 'Col414',
 'Col622',
 'Col998',
 'Col99',
 'Col98',
 'Col82',
 'Col734',
 'Col721',
 'Col673',
 'Col631',
 'Col74',
 'Col573',
 'Col531',
 'Col48',
 'Col475',
 'Col457',
 'Col446',
 'Col421',
 'Col415',
 'Col533',
 'Col1914',
 'Col1700',
 'Col1818',
 'Col1831',
 'Col191',
 'Col2090',
 'Col1934',
 'Col1948',
 'Col1986',
 'Col2008',
 'Col143',
 'Col1558',
 'Col1088',
 'Col1389',
 'Col1360',
 'Col133',
 'Col127',
 'Col1232',
 'Col1191',
 'Col1182',
 'Col1141',
 'Col1127',
 'Col29',
 'Col1072',
 'Col2109',
 'Col1819',
 'Col295',
 'Col536',
 'Col309',
 'Col978',
 'Col903',
 'Col841',
 'Col829',
 'Col766',
 'Col738',
 'Col688',
 'Col667',
 'Col642',
 'Col630',
 'Col997',
 'Col52',
 'Col46',
 'Col509',
 'Col36',
 'Col403',
 'Col434',
 'Col32',
 'Col460',
 'Col465',
 'Col484',
 'Col498',
 'Col229',
 'Col1569',
 'Col2267',
 'Col2249',
 'Col2124',
 'Col2118',
 'Col2013',
 'Col1864',
 'Col185',
 'Col1758',
 'Col1659',
 'Col1658',
 'Col1387',
 'Col153',
 'Col1508',
 'Col1436',
 'Col1388',
 'Col1319',
 'Col130',
 'Col1282',
 'Col123',
 'Col1183',
 'Col1136',
 'Col238',
 'Col1049',
 'Col2299',
 'Col2271',
 'Col2393',
 'Col610',
 'Col2394',
 'Col996',
 'Col976',
 'Col970',
 'Col956',
 'Col908',
 'Col858',
 'Col761',
 'Col745',
 'Col695',
 'Col657',
 'Col925',
 'Col49',
 'Col350',
 'Col2397',
 'Col432',
 'Col290',
 'Col343',
 'Col298',
 'Col352',
 'Col357',
 'Col410',
 'Col424',
 'Col1297',
 'Col1712',
 'Col1370',
 'Col1418',
 'Col1640',
 'Col1651',
 'Col1694',
 'Col1798',
 'Col1739',
 'Col1759',
 'Col1786',
 'Col1850',
 'Col1892',
 'Col1283',
 'Col1290',
 'Col1051',
 'Col1279',
 'Col1265',
 'Col1252',
 'Col1224',
 'Col1215',
 'Col1180',
 'Col112',
 'Col1089',
 'Col108',
 'Col1073',
 'Col1062',
 'Col1050',
 'Col1031',
 'Col1916',
 'Col1897',
 'Col70',
 'Col1921',
 'Col47',
 'Col1940',
 'Col986',
 'Col964',
 'Col927',
 'Col866',
 'Col84',
 'Col81',
 'Col620',
 'Col611',
 'Col58',
 'Col560',
 'Col546',
 'Col529',
 'Col656',
 'Col468',
 'Col335',
 'Col45',
 'Col1994',
 'Col2138',
 'Col217',
 'Col314',
 'Col2261',
 'Col349',
 'Col396',
 'Col429',
 'Col44',
 'Col199',
 'Col1484',
 'Col1425',
 'Col1732',
 'Col1509',
 'Col1673',
 'Col1686',
 'Col1711',
 'Col2363',
 'Col1830',
 'Col1843',
 'Col1852',
 'Col1958',
 'Col1962',
 'Col2371',
 'Col1284',
 'Col1371',
 'Col104',
 'Col1240',
 'Col1235',
 'Col1002',
 'Col102',
 'Col1034',
 'Col262',
 'Col1068',
 'Col1112',
 'Col1117',
 'Col1126',
 'Col1128',
 'Col1164',
 'Col1195',
 'Col121',
 'Col1212',
 'Col1218',
 'Col1220',
 'Col2388',
 'Col1726',
 'Col263',
 'Col778',
 'Col663',
 'Col717',
 'Col73',
 'Col732',
 'Col737',
 'Col77',
 'Col815',
 'Col643',
 'Col833',
 'Col859',
 'Col89',
 'Col944',
 'Col981',
 'Col274',
 'Col650',
 'Col843',
 'Col63',
 'Col451',
 'Col327',
 'Col561',
 'Col336',
 'Col353',
 'Col374',
 'Col39',
 'Col356',
 'Col473',
 'Col554',
 'Col500',
 'Col503',
 'Col54',
 'Col556',
 'Col493',
 'Col1429',
 'Col135',
 'Col1304',
 'Col1302',
 'Col1291',
 'Col1300',
 'Col128',
 'Col1262',
 'Col1466',
 'Col1247',
 'Col1439',
 'Col1680',
 'Col1498',
 'Col1517',
 'Col1537',
 'Col154',
 'Col1568',
 'Col159',
 'Col1682',
 'Col1693',
 'Col1706',
 'Col1730',
 'Col1238',
 'Col1243',
 'Col1001',
 'Col1229',
 'Col1211',
 'Col1756',
 'Col1005',
 'Col101',
 'Col1014',
 'Col1015',
 'Col1020',
 'Col1030',
 'Col1044',
 'Col1048',
 'Col1054',
 'Col1074',
 'Col1095',
 'Col110',
 'Col1138',
 'Col1139',
 'Col1143',
 'Col1146',
 'Col1151',
 'Col1154',
 'Col118',
 'Col1198',
 'Col1754',
 'Col938',
 'Col1757',
 'Col478',
 'Col507',
 'Col547',
 'Col555',
 'Col558',
 'Col562',
 'Col565',
 'Col57',
 'Col596',
 'Col616',
 'Col68',
 'Col712',
 'Col748',
 'Col76',
 'Col824',
 'Col939',
 'Col948',
 'Col954',
 'Col962',
 'Col967',
 'Col987',
 'Col1760',
 'Col505',
 'Col869',
 'Col462',
 'Col2027',
 'Col1761',
 'Col456',
 'Col1772',
 'Col1810',
 'Col1857',
 'Col1871',
 'Col1944',
 'Col1949',
 'Col2026',
 'Col1821',
 'Col2064',
 'Col313',
 'Col411',
 'Col2100',
 'Col423',
 'Col340',
 'Col329',
 'Col2381',
 'Col2246',
 'Col2212',
 'Col1744',
 'Col1604',
 'Col1719',
 'Col1688',
 'Col1745',
 'Col1661',
 'Col1657',
 'Col1499',
 'Col1599',
 'Col1541',
 'Col1480',
 'Col1478',
 'Col1460',
 'Col1802',
 'Col1451',
 'Col1752',
 'Col1928',
 'Col1822']

In [16]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(fill_value = 0, missing_values = np.NaN)

In [17]:
y = DataTenCol.iloc[:,0]

In [18]:
X = DataTenCol[important_features].copy()

In [19]:
# X = DataTenCol.iloc[:,1:]

In [20]:
X.isnull().values.any()

True

In [21]:
X = pd.DataFrame(imp.fit_transform(X.values),index = X.index, columns = X.columns)

In [22]:
X.isnull().values.any()

False

In [23]:
# sns.pairplot(DataTenCol,hue='Col2')

In [24]:
X.head()

,Col177,Col877,Col636,Col875,Col874,Col933,Col37,Col18,Col876,Col106,...,Col1599,Col1541,Col1480,Col1478,Col1460,Col1802,Col1451,Col1752,Col1928,Col1822
0,0.983505,1.160181,0.460104,4.015786,4.015786,0.000000,7.666869,0.403366,1.160181,17.980863,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,2.0
1,0.893896,1.070587,0.000000,2.984058,2.984058,0.326087,7.666869,2.676398,1.075914,0.957537,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0
2,0.861632,0.258884,0.002855,2.271018,2.271018,0.794749,7.666869,2.203874,0.258884,0.482401,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,2.0,2.0,4.0
3,0.976665,1.070587,0.000000,3.065040,3.065040,0.465228,7.666869,0.536304,1.075914,0.223275,...,2.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,2.0,4.0
4,0.988593,0.578306,2.520248,3.598077,3.598077,0.442589,7.666869,3.487721,0.578306,-0.479454,...,1.0,1.0,0.0,0.0,2.0,1.0,2.0,0.0,3.0,4.0

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [26]:
updatedX = sc.fit_transform(X)

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
XTrain,XTest,YTrain,YTest = train_test_split(updatedX,y,test_size=0.005)

In [29]:
from sklearn.svm import SVC

In [30]:
model = SVC(kernel='poly')

In [31]:
model.fit(XTrain, YTrain)

c:\users\chira\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [32]:
ypred = model.predict(XTest)

In [33]:
# ypred = (model1.predict(XTest)>0.5)

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(ypred,YTest)*100

93.18181818181817

In [36]:
dataTest = pd.read_csv("DataSet/Test.csv")

c:\users\chira\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
dataTest.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,RIH660YDS,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,RIH660Q96,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,RIYDO15W1,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,RIYBGC1ZD,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0

In [38]:
TestData = dataTest[important_features].copy()

In [39]:
# TestData = dataTest.iloc[:,1:DataDimension]

In [40]:
# TestData = TestData.drop(colunsToBeDropped, axis=1)

In [41]:
TestData.head()

,Col177,Col877,Col636,Col875,Col874,Col933,Col37,Col18,Col876,Col106,...,Col1599,Col1541,Col1480,Col1478,Col1460,Col1802,Col1451,Col1752,Col1928,Col1822
0,0.915956,NaN,0.000000,NaN,NaN,0.000000,19.0,0.879545,NaN,0.093146,...,1,0,0,0,1,0,0,0,0,0
1,1.009444,2.179799,NaN,3.140282,3.140282,0.537794,2.0,-2.935756,2.179799,-96.851779,...,2,2,2,1,1,2,3,3,2,3
2,1.400230,0.700242,0.005118,1.080582,1.375441,0.652174,NaN,0.943850,0.477567,0.059186,...,2,0,0,0,0,1,1,2,1,3
3,0.998619,NaN,0.000000,0.625706,0.625706,0.000000,6.0,1.978542,NaN,0.693512,...,1,0,0,0,0,0,0,0,1,0
4,0.026840,NaN,0.000000,1.892678,1.892678,0.833333,NaN,63.849949,NaN,3.287142,...,0,0,0,0,0,0,0,1,1,1

In [42]:
TestData.isnull().values.any()

True

In [43]:
np.all(X.columns == TestData.columns)

True

In [44]:
convert_dict = {}
for i, item in enumerate(TestData.dtypes):
    if item.type not in [np.int64,np.float64]:
        convert_dict['Col'+str(i+3)] = np.float64
#         print(i+3)
#         print(item.type)

In [45]:
TestData = TestData.replace('-',np.NaN).astype(convert_dict)

In [46]:
TestData = pd.DataFrame(sc.transform(imp.transform(TestData.values)),index = TestData.index, columns = TestData.columns)

In [47]:
TestData.isnull().values.any()

False

In [48]:
TestData.head()

,Col177,Col877,Col636,Col875,Col874,Col933,Col37,Col18,Col876,Col106,...,Col1599,Col1541,Col1480,Col1478,Col1460,Col1802,Col1451,Col1752,Col1928,Col1822
0,-0.017257,0.000000,-4.943691e-01,-5.239395e-16,0.000000,-1.328017,3.019589e+00,-0.130994,0.000000,-0.141423,...,0.055224,-0.814194,-0.871332,-0.837628,-0.261191,-1.270716,-0.867059,-1.406156,-1.334452,-1.584132
1,-0.011177,2.714684,-8.711205e-17,4.257915e+00,4.158997,0.696608,-1.509876e+00,-0.322614,2.682436,-10.338377,...,1.211233,1.508420,1.054446,0.137009,-0.261191,0.674607,2.263968,1.122990,0.563813,1.120914
2,0.014236,-0.906384,-4.933652e-01,-6.021822e-01,0.077309,1.127212,-7.099364e-16,-0.127764,-1.453981,-0.144995,...,1.211233,-0.814194,-0.871332,-0.837628,-1.164353,-0.298055,0.176617,0.279942,-0.385319,1.120914
3,-0.011881,0.000000,-4.943691e-01,-1.675514e+00,-1.656663,-1.328017,-4.441191e-01,-0.075797,0.000000,-0.078275,...,0.055224,-0.814194,-0.871332,-0.837628,-1.164353,-1.270716,-0.867059,-1.406156,-0.385319,-1.584132
4,-0.075077,0.000000,-4.943691e-01,1.314051e+00,1.273564,1.809219,-7.099364e-16,3.031649,0.000000,0.194531,...,-1.100785,-0.814194,-0.871332,-0.837628,-1.164353,-1.270716,-0.867059,-0.563107,-0.385319,-0.682450

In [49]:
out = model.predict(TestData).tolist()

In [50]:
outputDataFrameContents = {'Col1': dataTest.Col1.to_list(),'Col2':out}
outputDataFrame = pd.DataFrame(outputDataFrameContents)

In [51]:
outputDataFrame.head()

        Col1  Col2
0  RIGD58ZWD     0
1  RIH660YDS     0
2  RIH660Q96     0
3  RIYDO15W1     0
4  RIYBGC1ZD     0

In [52]:
import time
outfilename = "Output\Prediction{}.csv".format(int(time.time()))
outputDataFrame.to_csv(outfilename, index=False)