In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
data = pd.read_csv("DataSet/Train.csv")

c:\users\chira\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [4]:
target = data.Col2

In [5]:
DataDimension = 2395

In [6]:
DataTenCol = data.iloc[:,1:DataDimension+1]

In [7]:
colunsToBeDropped = []
for i, item in enumerate(DataTenCol.dtypes):
    if item.type not in [np.int64,np.float64]:
        colunsToBeDropped.append("Col"+str(i+2))
#         print(i+2)
#         print(item.type)

In [8]:
colunsToBeDropped

['Col747', 'Col836']

In [9]:
# len(DataTenCol.Col836.isnull().values)

In [10]:
DataTenCol = DataTenCol.drop(colunsToBeDropped, axis=1)

In [11]:
DataTenCol.head()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [12]:
input_dim = DataTenCol.shape[1]-1

In [13]:
DataTenCol.head()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [ ]:
DataTenCol.describe(include='all')

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(fill_value = 0, missing_values = np.NaN)

In [ ]:
y = DataTenCol.iloc[:,0]

In [ ]:
# X = DataTenCol[important_features].copy()

In [ ]:
X = DataTenCol.iloc[:,1:]

In [ ]:
X.isnull().values.any()

In [ ]:
X = pd.DataFrame(imputer.fit_transform(X.values),index = X.index, columns = X.columns)

In [ ]:
X.isnull().values.any()

In [ ]:
# sns.pairplot(DataTenCol,hue='Col2')

In [ ]:
X.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
updatedX = scaler.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
XTrain,XTest,YTrain,YTest = train_test_split(updatedX,y,test_size=0.1)

In [ ]:
import xgboost as xgb

In [ ]:
dtrain_split = xgb.DMatrix(XTrain, label=YTrain)
dtest_split = xgb.DMatrix(XTest)

In [ ]:
# lgb_train = lgb.Dataset(XTrain, YTrain, free_raw_data=False)
# lgb_eval = lgb.Dataset(XTest, YTest, reference=lgb_train, free_raw_data=False)

In [ ]:
# #Hyperparameters

# params = {
#     'boosting_type': 'gbdt',
#     'objective': 'multiclass',
#     'num_class':2,
#     'metric': 'multi_logloss',
#     'num_leaves': 31,
#     'learning_rate': 0.005,
#     'feature_fraction': 0.9,
#     'bagging_fraction': 0.8,
#     'bagging_freq': 5,
#     'verbose': 20
# }

In [ ]:
param = {'objective':'binary:logistic'}

In [ ]:
gbm = xgb.train(param, dtrain_split, num_boost_round=1000,
                early_stopping_rounds=100,
                verbose_eval = True)

In [ ]:
# gbm = lgb.train(params,
#                 lgb_train,
#                 num_boost_round=1000,
#                 valid_sets=lgb_eval,
#                 early_stopping_rounds=100,
#                 verbose_eval = True
#                )

In [ ]:
ypred = [np.argmax(pred) for pred in gbm.predict(XTest)]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

def plotImp(model, X , num = 20):
    feature_imp = pd.DataFrame(sorted(zip(model.feature_importance(),X.columns)), 
                               columns=['Value','Feature'])
    plt.figure(figsize=(40, 40))
    sns.set(font_scale = 5)
    sns.barplot(x="Value", y="Feature", data=feature_imp.sort_values(by="Value", 
                                                        ascending=False)[0:num])
    plt.title('LightGBM Features (avg over folds)')
    plt.tight_layout()
    plt.show()
    plt.savefig('lgbm_importances-01.png')

In [ ]:
feature_imp = pd.DataFrame(sorted(zip(gbm.feature_importance(),X.columns)),columns=['Value','Feature'])

In [ ]:
data=feature_imp.sort_values(by="Value",ascending=False)[0:1000]

In [ ]:
imp = data.Feature.tolist()

In [ ]:
len(imp)

In [ ]:
imp

In [ ]:
plotImp(gbm,X,num=50)

In [ ]:
# ypred = (model1.predict(XTest)>0.5)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(ypred,YTest)*100

In [ ]:
dataTest = pd.read_csv("DataSet/Test.csv")

In [ ]:
dataTest.head()

In [ ]:
# TestData = dataTest[important_features].copy()

In [ ]:
TestData = dataTest.iloc[:,1:DataDimension]

In [ ]:
TestData = TestData.drop(colunsToBeDropped, axis=1)

In [ ]:
TestData.head()

In [ ]:
TestData.isnull().values.any()

In [ ]:
np.all(X.columns == TestData.columns)

In [ ]:
convert_dict = {}
for i, item in enumerate(TestData.dtypes):
    if item.type not in [np.int64,np.float64]:
        convert_dict['Col'+str(i+3)] = np.float64
#         print(i+3)
#         print(item.type)

In [ ]:
TestData = TestData.replace('-',np.NaN).astype(convert_dict)

In [ ]:
TestData = pd.DataFrame(scaler.transform(imputer.transform(TestData.values)),index = TestData.index, columns = TestData.columns)

In [ ]:
TestData.isnull().values.any()

In [ ]:
TestData.head()

In [ ]:
out = [np.argmax(pred) for pred in gbm.predict(TestData)]

In [ ]:
outputDataFrameContents = {'Col1': dataTest.Col1.to_list(),'Col2':out}
outputDataFrame = pd.DataFrame(outputDataFrameContents)

In [ ]:
outputDataFrame.head()

In [ ]:
import time
outfilename = "Output\Prediction{}.csv".format(int(time.time()))
outputDataFrame.to_csv(outfilename, index=False)